<ng-container>
    <h1 class="driver-list-heading">Drivers List</h1>

    <div *ngIf="!isLoading && drivers.length === 0" class="no-drivers">
        No drivers found nearby.
    </div>

    <app-driver-details-card *ngFor="let driver of drivers" 
        [driverName]="driver.driverName"
        [vehicleName]="driver.vehicleName" 
        [eta]="driver.availableSeats + ' seats'"
        [fare]="driver.distanceKm + ' km away'" 
        (click)="onDriverClick(driver)"
        (onRequestRide)="onRequestRideHandler(driver)">
    </app-driver-details-card>
</ng-container>