@use 'abstracts/_variables' as *;

.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: $primary-dark;
  padding: 12px 24px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: $text-light;
  cursor: pointer;

  .go {
    color: $accent-green;
  }
}

.signup-button {
  background-color: $accent-green;
  color: $primary-dark;
  border: none;

  &:hover {
    background-color: #8ed404;
  }
}