<app-navbar></app-navbar>

<div>
    <div class="container-fluid px-0 ride-selection-wrapper">
        <div class="row landing-row g-0">

            <!-- Right side -->
            <div class="col-12 col-lg-5 left-section border p-3">
                <h1 class="passenger-heading">
                    Ride Details
                </h1>

                <app-ride-summary 
                    [pickup]="pickupLocation" 
                    [destination]="destinationLocation"
                ></app-ride-summary>

                <app-nearby-drivers-list *ngIf="!isWaiting"
                    [drivers]="drivers" 
                    [isLoading]="isLoading"
                    [selectedDriver]="selectedDriver" 
                    (driverSelected)="selectDriver($event)"
                    (rideRequested)="requestRide()"
                ></app-nearby-drivers-list>

                <app-ride-request-pending *ngIf="isWaiting"
                    [driverName] = "selectedDriver?.name"
                    (onCancel) = "cancelRequest()"
                ></app-ride-request-pending>

            </div>

            <!-- Left side -->
            <div class="col-12 col-lg-7 right-section">
                <div class="map-placeholder">
                    <app-map 
                        [pickup]="pickupLocation" 
                        [destination]="destinationLocation" 
                        [drivers]="drivers"
                        [showRadiusCircle]="true"
                    ></app-map>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>